{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1 class="text-center">IMAGE</h1>
</div>
<div class="col-sm-8 offset-2">
    <hr>
</div>
<div class="col-sm-8 offset-2">
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom de l'image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>
                    <img class="img-slide" src="{{ asset('img/' ~ image.getLienImage) }}">
                </td>
                <td>{{ image.titreImage }}</td>
                <td>
                    <a href="{{ path('image_show', {'idImage': image.idImage}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-sm-8 offset-2 my-2">
    <a href="{{ path('image_new') }}">
        <button type="submit" class="btn btn-primary" >Créé une nouvelle image</button>
    </a>
</div>
{% endblock %}