<form method="post" action="{{ path('slide_delete', {'idSlide': slide.idSlide}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette slide ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ slide.idSlide) }}">
    <button class="btn">Supprimer</button>
</form>